.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e2f49;
    width: 350px;
    margin: 0 auto;
  }
  .calendarContainer {
    margin-bottom: 20px;
  }
  .datePickerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dateTimePicker {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .react-calendar{
    background-color: #1e2f49;
    border:none
  }
  .react-calendar__navigation {
    background-color: #1e2f49;
    color: white;
  }
  .react-calendar__navigation__arrow {
    color: white;
  }
   .react-calendar__month-view__days__day{
    color: white;
   }
   .react-calendar__month-view__days__day--neighboringMonth{
    color: gray;
   }
   .react-calendar__month-view__days__day--weekend {
    color:#1e7be1;
  }

  
  label {
    margin-bottom:5px;
    font-weight:  bold;
    color: white;
  }