:root{
    --sky-color-white: #f3f6fc;
    --sky-clor-cyan-bold-600: #2563a4;
    --sky-color-blue-800: #1D446f;
    --neon: drop-shadow(0px 0px 3px white);

}

.TodoContainer--list{
    display: flex;
    flex-direction: column;
    grid-row: 5;
    grid-column: 7;
    padding: 10px;
    border: solid 1px;
    overflow-y: auto;
    border-radius: 2%;
    background-color:var(--sky-color-white);
    -webkit-box-shadow: 0px 0px 91px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 91px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 91px 1px rgba(0,0,0,0.75);
;
}
.TodoContainer--list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Hacer la barra de desplazamiento transparente */
}

.TodoContainer-Eyelashes{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 182px;
    left: 360px;
}


.Eyelashes-TodoContainer-list{
    position: relative;
    width: 200px;
    height: 40px;
    background-color: var(--sky-clor-cyan-bold-600);
    top: 50px;
    margin: 10px 5px  0 0;
    cursor: pointer;
    transition: background-color all 0.3 ease-in-out;
    border-radius: 0.25rem;
    top: 40px;
    transition: 0.3s ease-in-out;
    border: 0;
    box-shadow: 0px 5px 25px rgb(2 13 16 / 50%);

}


.Eyelashes-TodoContainer-list:hover{
    background-color: var(--sky-color-blue-800);
    transition: 0.3s ease-in;
}




@media (200px <= width <= 830px){
    .TodoContainer--list{
        grid-row: 6;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .Eyelashes-TodoContainer-list{
        width: 100px;
        height: 40px;
    }
  }